#
# NOTE! Don't add files that are generated in specific
# subdirectories here. Add them in the ".gitignore" file
# in that subdirectory instead.
#
# NOTE! Please use 'git ls-files -i --exclude-standard'
# command after changing this file, to see if there are
# any tracked files which get ignored after the change.
#
# Normal rules
#
.*
*.o
*.o.*
*.a
*.s
*.ko
*.so
*.so.dbg
*.mod.c
*.i
*.lst
*.symtypes
*.order
*.elf
*.bin
*.tar
*.gz
*.bz2
*.lzma
*.xz
*.lz4
*.lzo
*.patch
*.gcno
*.ll
modules.builtin
Module.symvers
*.dwo
*.su
*.c.[012]*.*

#
# Top-level generic files
#
/tags
/TAGS
/linux
/vmlinux
/vmlinux.32
/vmlinux-gdb.py
/vmlinuz
/System.map
/Module.markers

#
# Debian directory (make deb-pkg)
#
/debian/

#
# tar directory (make tar*-pkg)
#
/tar-install/

#
# git files that we don't want to ignore even if they are dot-files
#
!.gitignore
!.mailmap
!.cocciconfig

#
# Generated include files
#
include/config
include/generated
arch/*/include/generated

# stgit generated dirs
patches-*

# quilt's files
patches
series

# cscope files
cscope.*
ncscope.*

# gnu global files
GPATH
GRTAGS
GSYMS
GTAGS

# id-utils files
ID

*.orig
*~
\#*#

#
# Leavings from module signing
#
extra_certificates
signing_key.pem
signing_key.priv
signing_key.x509
x509.genkey

# Kconfig presets
all.config

# Kdevelop4
*.kdev4

# fetched Android config fragments
kernel/configs/android-*.cfg

# KangDroid Custom ignore
8192cu
arch/arm64/boot/dts/_ddot_/
arch/arm64/boot/dts/tegra186-quill-p3310-1000-a00-overlay.dtbo
arch/arm64/boot/dts/tegra186-quill-p3310-1000-c03-00-base-adafruit-sph0645lm4h.dtbo
arch/arm64/boot/dts/tegra186-quill-p3310-1000-c03-00-base-fe-pi-audio-z-v2.dtbo
arch/arm64/boot/dts/tegra186-quill-p3310-1000-c03-00-base-hdr40.dtbo
arch/arm64/boot/dts/tegra194-p2888-0001-p2822-0000-adafruit-sph0645lm4h.dtbo
arch/arm64/boot/dts/tegra194-p2888-0001-p2822-0000-fe-pi-audio-z-v2.dtbo
arch/arm64/boot/dts/tegra194-p2888-0001-p2822-0000-hdr40.dtbo
arch/arm64/boot/dts/tegra194-p3668-all-p3509-0000-adafruit-sph0645lm4h.dtbo
arch/arm64/boot/dts/tegra194-p3668-all-p3509-0000-fe-pi-audio-z-v2.dtbo
arch/arm64/boot/dts/tegra194-p3668-all-p3509-0000-hdr40.dtbo
arch/arm64/boot/dts/tegra210-jetson-tx1-p2597-2180-a01-devkit-adafruit-sph0645lm4h.dtbo
arch/arm64/boot/dts/tegra210-jetson-tx1-p2597-2180-a01-devkit-fe-pi-audio-z-v2.dtbo
arch/arm64/boot/dts/tegra210-jetson-tx1-p2597-2180-a01-devkit-hdr40.dtbo
arch/arm64/boot/dts/tegra210-p3448-0000-p3449-0000-a01-adafruit-sph0645lm4h.dtbo
arch/arm64/boot/dts/tegra210-p3448-0000-p3449-0000-a01-fe-pi-audio-z-v2.dtbo
arch/arm64/boot/dts/tegra210-p3448-0000-p3449-0000-a01-hdr40.dtbo
arch/arm64/boot/dts/tegra210-p3448-0000-p3449-0000-a02-adafruit-sph0645lm4h.dtbo
arch/arm64/boot/dts/tegra210-p3448-0000-p3449-0000-a02-fe-pi-audio-z-v2.dtbo
arch/arm64/boot/dts/tegra210-p3448-0000-p3449-0000-a02-hdr40.dtbo
arch/arm64/boot/dts/tegra210-p3448-0003-p3542-0000-adafruit-sph0645lm4h.dtbo
arch/arm64/boot/dts/tegra210-p3448-0003-p3542-0000-fe-pi-audio-z-v2.dtbo
arch/arm64/boot/dts/tegra210-p3448-0003-p3542-0000-hdr40.dtbo
arch/arm64/boot/zImage
constructing/
drivers/video/tegra/host/
firmware/tegra21x_xusb_firmware
modules_testing/
header_test/
